<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/nav.ejs") %>
    <h1>404</h1>
    <div class="not-found content">
        OOps, page not found :)
    </div>
    <%- include("./partials/footer.ejs") %>
</body>
</html>