<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    
    <%- include("./partials/nav.ejs") %>

    <h1>Now this is it!</h1>
    <p>Great job! Keep on learning.</p>
    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure doloremque repellendus qui hic at vitae ipsum obcaecati aperiam odio error a, provident ex ducimus quia temporibus pariatur quasi magnam eum.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure doloremque repellendus qui hic at vitae ipsum obcaecati aperiam odio error a, provident ex ducimus quia temporibus pariatur quasi magnam eum.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure doloremque repellendus qui hic at vitae ipsum obcaecati aperiam odio error a, provident ex ducimus quia temporibus pariatur quasi magnam eum.</p>        
    </div>
    <%- include("./partials/footer.ejs") %>
</body>
</html>